{% extends 'base.html' %} 

{% block content %} 

<h1 class="title">{{restaurant.name}}</h1> 
<hr>


<div class="card" id="card-detail"> 
    <div class ="card-content">  
        <p>{{restaurant.address}} ({{restaurant.mainInt}})</p> 
        <p>{{restaurant.website}}</p>
        <p>Price Point: {{restaurant.pricePoint}}</p> 
        <p>Style of Cuisine: {{restaurant.style}}</p>   
        <!-- <p>Menu Highlights: {{restaurant.menuHighlights}}</p> -->


        {% if restaurant.delivery == "True" %} 
            <p>They deliver!</p>
        {% else %} 
            <p>Sorry, they don't deliver</p>
        {% endif %} 

        {% if restaurant.events == "True" %} 
            <p>Let {{restaurant.name}} host your event! Contact them for more info!</p>
        {% else %} 
            <p>Sorry, they don't do events</p>
        {% endif %}
    </div> 

    <div class="card-action" id="card-detail">
        <a href="{% url 'restaurant_update' restaurant.id %}"> Edit </a> 
        <a href="{% url 'restaurant_delete' restaurant.id %}"> Delete </a>
    </div>
</div>


<div> 

    <form method="post" action="{% url 'add_menuHighlight' restaurant.id %}">

        {% csrf_token %} 
        {{ MenuHighlight_form.as_p }} 
        <input type="submit" class="btn" value="Add Highlights">

    </form>

    <table id="card-detail"> 
        <thead> 
            <tr> 
                <th>Name</th> 
                <th>Image</th>
            </tr>
        </thead> 

        <tbody> 
            {% for menuHighlight in restaurant.menuHighlight_set.all %}
            <tr> 
                <td>{{menuHighlights.name}}</td> 
                <td>{{menuHighlights.image}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 

<!-- <script> 
    var nameEl = document.getElementById('id_name'); 
    M.Input.init(nameEl, { 
        defaultName: "Dish's Name"
    }); 
    
    var imageEl = document.getElementById('id_image'); 
    M.FormSelect.init(selectEl);
    
    
    </script> -->

{% endblock %}