{% extends 'base.html' %} 

{% block content %} 

<h1 class="title">{{restaurant.name}}</h1> 
<hr>


<div class="card"> 
    <div class ="card-content"> 
        <p>Price Point: {{restaurant.pricePoint}}</p>
        <p>Contact Us: {{restaurant.contact}}</p> 
        <p>Style of Cuisine: {{restaurant.style}}</p>   
        <p>Menu Highlights: {{restaurant.menuHighlights}}</p>


        {% if restaurant.delivery == "True" %} 
            <p>We deliver!</p>
        {% else %} 
            <p>Sorry, they don't deliver</p>
        {% endif %} 

        {% if restaurant.events == "True" %} 
            <p>Let {{restaurant.name}} host your event! Contact them for more info!</p>
        {% else %} 
            <p>Sorry, they don't do events</p>
        {% endif %}
    </div>
</div>


{% endblock %}