{% extends 'base.html' %} 

{% block content %} 

<h1>Toronto's Best Vegan Restaurants</h1> 
<hr>

{% for restaurant in restaurants  %} 

<div class="card"> 
<a href= "{%url 'detail' restaurant.id %}">
    <div class ="card-content"> 
        <span class ="card-title"> {{restaurant.name}} </span>
        <p>Price Point: {{restaurant.pricePoint}}</p>
        <p>Contact Us: {{restaurant.contact}}</p> 
        <p>Style of Cuisine: {{restaurant.style}}</p>   
        <p>Menu Highlights: {{restaurant.menuHighlights}}</p>


        {% if restaurant.delivery == "True" %} 
            <p>We deliver!</p>
        {% else %} 
            <p>Sorry, they don't deliver</p>
        {% endif %} 

        {% if restaurant.events == "True" %} 
            <p>Let {{restaurant.name}} host your event! Contact them for more info!</p>
        {% else %} 
            <p>Sorry, they don't do events</p>
        {% endif %}
    </div>
</a>
</div>

{% endfor %}

{% endblock %}