{% extends 'base.html' %} 

{% block content %} 


<h1 class="title">Toronto's Best Vegan Restaurants</h1> </a>
<hr>

<div class="btn" id="indentBtn2"> <a href="{% url 'restaurant_create' %}"> Add A Restaurant </a> </div>

{% for restaurant in restaurants  %} 

<div class="card"> 
    <div class ="card-content"> 
        <span class ="card-title"> <a href= "{%url 'detail' restaurant.id %}"> {{restaurant.name}} </a> </span> </a> 
        <p>{{restaurant.address}} ({{restaurant.mainInt}}) {{restaurant.website}} {{restaurant.phone}} </p> 
        <p>Price Point: {{restaurant.pricePoint}}</p>
        <p>Style of Cuisine: {{restaurant.style}}</p>   


        {% if restaurant.delivery %} 
            <p>They deliver!</p>
        {% else %} 
            <p>Sorry, they don't deliver</p>
        {% endif %} 

        {% if restaurant.events %} 
            <p>Let {{restaurant.name}} host your event! Contact them for more info!</p>
        {% else %} 
            <p>Sorry, they don't do events</p>
        {% endif %}
    </div>
</div>

{% endfor %}

{% endblock %} 

